@use "sass:color";

$nav: #474556;
$body: #A1A1A1;
$bgProjet: #221248;
$titleProjet: #3A2380;
$footer: #56586C;

header{
  .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
        color: $bgProjet;
        font-size: 1.08rem; // Grossir le texte de 8% au survol
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    &:before {
        content: "";
        position: absolute;
        width: 0; // Barre invisible au départ
        height: 2px; // Épaisseur de la barre de soulignement
        background-color: $bgProjet;
        bottom: 0;
        left: 50%; // Point de départ au centre
        transform: translateX(-50%);
        transition: width 0.4s ease; // Animation fluide
    }

    &:hover:before {
        width: 100%; // Barre s'étend complètement
        left: 0; // Repositionne à gauche pour couvrir tout le texte
        transform: translateX(0); // Supprimer le décalage
    }
}














    background-color: $nav;
    
    .navbar-brand{
        color: white;
        font-family: 'Brush Script MT', cursive;
        font-size: 40px; /* Ajustez la taille à votre convenance */
        color: white; /* Personnalisez la couleur */
        margin-left: 45px;
    }
    .navbar-nav{ 
        a{
            color: white;
        }
    }}

    .presente {
      width: 100%;
      height: auto;
  
      iframe {
          background-color: black; /* Le fond noir pour les vidéos */
          border: none; /* Retirer les bordures par défaut */
      }
  
      background-color: grey; /* Couleur de fond pour le conteneur */
  }
  @media screen and (min-width:1051px) {
    
  
  .apercu {
      padding-top: 3vw;
      background-color: $bgProjet;
  
      .accueil-presentation {
          position: relative;
          overflow: hidden; /* Pour cacher les vidéos qui débordent */
      }
  
      .title {
          color: white;
          background-color: $titleProjet;
          width: 100%;
          text-align: center;
          margin-top: 15px;
          box-shadow: 2px 2.5px 5px 2px rgb(0 0 0 / .8);
          padding-top: 3px;
          padding-bottom: 5px;
      }
  
      .video-container {
        height: 78.5vh; /* Hauteur proportionnelle à la largeur de la fenêtre */
        display: flex; /* Permet le défilement horizontal */
        transition: transform 0.5s ease; /* Animation de transition */
        width: 260vw; /* S'assurer que le conteneur occupe toute la largeur */
    }
    
    .presentation {
        height: auto; /* Hauteur automatique pour respecter les proportions de la vidéo */
        width: 100%; /* La vidéo prend toute la largeur du conteneur */
        margin-right: 20vw; /* Ajustez cet espace selon vos besoins */
    }
    
  
      .presentation {
        
        margin-top: 5px;
        margin-bottom: 2px;
        transform: translateX(16vw);
        height: auto;
        width: 100%; /* Chaque iframe prend toute la largeur */
        margin-right: 20vw; /* Espace entre les vidéos */
        display: block; /* Les iframes doivent se comporter comme des blocs */
        animation: fade 24s infinite linear;
      }
    
    @keyframes fade {
        0% { transform: translateX(16vw) }
        33%{ transform: translateX(16vw);}
        34% { transform: translateX(-70vw); }
        65% {transform: translateX(-70vw);}
        66%{transform: translateX(-157vw);}
        100%{transform: translateX(-157vw);}
        
        
    }





      .arrows {
          display: flex; /* Aligner les flèches */
          justify-content: space-between; /* Espacement entre flèches */
          margin-top: 10px; /* Espace au-dessus des flèches */
      }
  
      .arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: rgba(255, 255, 255, 0); /* Fond transparent */
          border: none;
          font-size: 24px;
          cursor: pointer;
          padding: 10px;
          z-index: 10;
      }
  
      .left-arrow {
          left: 10px;
          display: none; /* Ajustez cela selon vos besoins */
      }
  
      .right-arrow {
          right: 10px;
          display: none; /* Ajustez cela selon vos besoins */
      }
  }


}


@media screen and (max-width:1050px), (min-width: 351px) {
  .apercu {
    padding-top: 3vw;
    background-color: $bgProjet;

    .accueil-presentation {
        position: relative;
        overflow: hidden; /* Pour cacher les vidéos qui débordent */
    }

    .title {
        color: white;
        background-color: $titleProjet;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        box-shadow: 2px 2.5px 5px 2px rgb(0 0 0 / .8);
        padding-top: 3px;
        padding-bottom: 5px;
    }

    .video-container {
      max-height: 100vw; 
      min-height: 200px;
      display: flex; /* Permet le défilement horizontal */
      transition: transform 0.5s ease; /* Animation de transition */
      width: 260vw; /* S'assurer que le conteneur occupe toute la largeur */
  }
  
  .presentation {
      height: auto; /* Hauteur automatique pour respecter les proportions de la vidéo */
      width: 100%; /* La vidéo prend toute la largeur du conteneur */
      margin-right: 20vw; /* Ajustez cet espace selon vos besoins */
  }
  

    .presentation {
      
      margin-top: 5px;
      margin-bottom: 2px;
      transform: translateX(16vw);
      height: auto;
      width: 100%; /* Chaque iframe prend toute la largeur */
      margin-right: 20vw; /* Espace entre les vidéos */
      display: block; /* Les iframes doivent se comporter comme des blocs */
      animation: fade 24s infinite linear;
    }
  
  @keyframes fade {
      0% { transform: translateX(16vw) }
      33%{ transform: translateX(16vw);}
      34% { transform: translateX(-70vw); }
      65% {transform: translateX(-70vw);}
      66%{transform: translateX(-157vw);}
      100%{transform: translateX(-157vw);}
      
      
  }





    .arrows {
        display: flex; /* Aligner les flèches */
        justify-content: space-between; /* Espacement entre flèches */
        margin-top: 10px; /* Espace au-dessus des flèches */
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0); /* Fond transparent */
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        z-index: 10;
    }

    .left-arrow {
        left: 10px;
        display: none; /* Ajustez cela selon vos besoins */
    }

    .right-arrow {
        right: 10px;
        display: none; /* Ajustez cela selon vos besoins */
    }
}
}
@media screen and (max-width:350px) {
  .apercu {
    padding-top: 3vw;
    background-color: $bgProjet;

    .accueil-presentation {
        position: relative;
        overflow: hidden; /* Pour cacher les vidéos qui débordent */
    }

    .title {
        color: white;
        background-color: $titleProjet;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        box-shadow: 2px 2.5px 5px 2px rgb(0 0 0 / .8);
        padding-top: 3px;
        padding-bottom: 5px;
    }

    .video-container {
      max-height: 90vw; 
      min-height: 50px;
      display: flex; /* Permet le défilement horizontal */
      transition: transform 0.5s ease; /* Animation de transition */
      width: 260vw; /* S'assurer que le conteneur occupe toute la largeur */
  }
  
  .presentation {
      height: auto; /* Hauteur automatique pour respecter les proportions de la vidéo */
      width: 100%; /* La vidéo prend toute la largeur du conteneur */
      margin-right: 20vw; /* Ajustez cet espace selon vos besoins */
  }
  

    .presentation {
      
      margin-top: 5px;
      margin-bottom: 2px;
      transform: translateX(16vw);
      height: auto;
      width: 100%; /* Chaque iframe prend toute la largeur */
      margin-right: 20vw; /* Espace entre les vidéos */
      display: block; /* Les iframes doivent se comporter comme des blocs */
      animation: fade 24s infinite linear;
    }
  
  @keyframes fade {
      0% { transform: translateX(16vw) }
      33%{ transform: translateX(16vw);}
      34% { transform: translateX(-70vw); }
      65% {transform: translateX(-70vw);}
      66%{transform: translateX(-157vw);}
      100%{transform: translateX(-157vw);}
      
      
  }





    .arrows {
        display: flex; /* Aligner les flèches */
        justify-content: space-between; /* Espacement entre flèches */
        margin-top: 10px; /* Espace au-dessus des flèches */
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0); /* Fond transparent */
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        z-index: 10;
    }

    .left-arrow {
        left: 10px;
        display: none; /* Ajustez cela selon vos besoins */
    }

    .right-arrow {
        right: 10px;
        display: none; /* Ajustez cela selon vos besoins */
    }
}
}





  
section.carroussel {
  
  
  width: 100%;
  padding-top: 5px;



  




  .title {
      color: white;
      background-color: $titleProjet;
      width: 100%;
      text-align: center;
      margin-top: 15px;
      box-shadow: 2px 2.5px 5px 2px rgb(0 0 0 / .8);
      padding-top: 3px;
      padding-bottom: 5px;
      border: 1px solid black;
  }
}

.carroussel {
  position: relative;
  
width: 100%;
  .defilement {
    
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      flex-direction: column; /* Pour empiler les éléments si nécessaire */


      
      @for $i from 1 through 5{

        .card#{$i} {
          min-width: 300px; /* Largeur minimale des cartes */
          margin-right: 20px; /* Espace entre les cartes */
          padding: 20px;
          
          background-color: $nav;
          border: 1px solid $bgProjet;
          
          border-radius: 8px;
        
          h1{
            align-self: center;
          }
          video{
            align-self: center;
            
          }
          iframe{
            align-self: center;
          }
          button{
            border-radius: 15px;
            border-color: #221248;
            align-self: center;
            width: 150px;
            background: rgb(221,71,120);
        background: linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
        }
        }


        .card-carousel#{$i} {
          display: flex;
          overflow-x: auto; /* Permet le défilement horizontal */
          padding: 20px;
          justify-content: center;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          
        }
        
        .video-containers#{$i}{
          
          
            position: relative;
            width: 100%; 
            
            max-width: 500px; /* Limite la largeur */
            margin: 0 auto; /* Centre le conteneur */
            display: flex; /* Utilisation de Flexbox pour le centrage */
            justify-content: center; /* Centre horizontalement */
            align-items: center; /* Centre verticalement */
            flex-direction: column; /* Empile les éléments si nécessaire */
            &.hidden{
              display: none;
            }
             
            video {
                max-width: 90%; /* S'assure que la vidéo est légèrement plus petite pour le centrage */
                border-radius: 2px;
                border: 8px solid rgb(10, 1, 37);
                
            }
            iframe {
              
              max-width: 90%; /* S'assure que la vidéo est légèrement plus petite pour le centrage */
              border-radius: 2px;
              border: 8px solid rgb(10, 1, 37);
              
          }
  
            .overlay {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scaleX(90%);
                background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 5rem;
                background-color: hsla(178, 15%, 90%, 0.4);
                opacity: 0;
                transition: opacity 0.3s ease-out;
                z-index: 2;
            }
  
            &:hover .overlay {
                opacity: 1;
            }
        
        }
                  }



      .video-containers1{
        max-width: 1095px;
        
      }

@media screen and (min-width:1245px){
 .video-containers2{
        margin-left: 12.25vw;
      }
  .video-containers3{
        margin-right: 12.25vw;
      } 
  .video-containers4{
        margin-left: 12.25vw;
      }
  .video-containers5{
        margin-right: 12.25vw;
      } 
}
      
      .video-containers {
        
          position: relative;
          width: 100%; 
          padding-top: 20px;
          max-width: 1095px; /* Limite la largeur */
          margin: 0 auto; /* Centre le conteneur */
          display: flex; /* Utilisation de Flexbox pour le centrage */
          justify-content: center; /* Centre horizontalement */
          align-items: center; /* Centre verticalement */
          flex-direction: column; /* Empile les éléments si nécessaire */
          &.hidden{
            display: none;
          }
           
          video {
              max-width: 90%; /* S'assure que la vidéo est légèrement plus petite pour le centrage */
              border-radius: 2px;
              border: 8px solid rgb(10, 1, 37);
              
              
          }
          iframe {
            max-width: 90%; /* S'assure que la vidéo est légèrement plus petite pour le centrage */
            border-radius: 2px;
            border: 8px solid rgb(10, 1, 37);
            
            
        }

          .overlay {
            margin-top: 20px;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              transform: scaleX(90%);
              background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 5rem;
              background-color: hsla(178, 15%, 90%, 0.4);
              opacity: 0;
              transition: opacity 0.3s ease-out;
              z-index: 2;
          }

          &:hover .overlay {
              opacity: 1;
          }
      }
  }
}


.card-carousel {
  position: fixed; /* Pour le modal */
        top: 50%;
        max-height: 100%;
        left: 50%;
        overflow: hidden;
        box-sizing: border-box;
        transform: translate(-50%, -50%); /* Centrer le modal */
        background-color: $nav; /* Couleur de fond du modal */
        padding-left: 20px;
        padding-top:20px;
        padding-bottom:20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Assure que le modal est au-dessus des autres éléments */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        a{
          height: 20px;
          position: block;
          text-decoration: none;
          animation: aButton infinite 3s forwards;
          
        }
        
        &.hidden{
          display: none;
        }
        #v{
          margin-top: 20px;
          border-radius:15px;
          border-color:#221248;
          width: 150px;
          background:linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
        }
}
@keyframes aButton{
  0%{transform: scale(100%);
  color:rgb(207, 203, 203);
  
}
  50%{
    font-size: 20px;
    color: whitesmoke;
    transform: translateX(-15px);
    transform: translateY(-3px);
    
  }
  100%{transform: scale(100%);
    color:rgb(207, 203, 203);
    
    
}}
.card-carousel1 {
  position: fixed; /* Pour le modal */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centrer le modal */
        background-color: $nav; /* Couleur de fond du modal */
        padding-left: 20px;
        padding-top:20px;
        padding-bottom:20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Assure que le modal est au-dessus des autres éléments */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        a{
          height: 20px;
          position: block;
          text-decoration: none;
          animation: aButton infinite 3s forwards;
          
        }
        &.hidden{
          display: none;
        }
        button{
          margin-top: 20px;
          border-radius:15px;
          border-color:#221248;
          width: 150px;
          background:linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
        }
}
.card-carousel2 {
  position: fixed; /* Pour le modal */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centrer le modal */
        background-color: $nav; /* Couleur de fond du modal */
        padding-left: 20px;
        padding-top:20px;
        padding-bottom:20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Assure que le modal est au-dessus des autres éléments */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        a{
          height: 20px;
          position: block;
          text-decoration: none;
          animation: aButton infinite 3s forwards;
          
        }
        &.hidden{
          display: none;
        }
        button{
          margin-top: 20px;
          border-radius:15px;
          border-color:#221248;
          width: 150px;
          background:linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
        }
}
.card-carousel3 {
  position: fixed; /* Pour le modal */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centrer le modal */
        background-color: $nav; /* Couleur de fond du modal */
        padding-left: 20px;
        padding-top:20px;
        padding-bottom:20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Assure que le modal est au-dessus des autres éléments */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        a{
          height: 20px;
          position: block;
          text-decoration: none;
          animation: aButton infinite 3s forwards;
          
        }
        &.hidden{
          display: none;
        }
        button{
          margin-top: 20px;
          border-radius:15px;
          border-color:#221248;
          width: 150px;
          background:linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
        }
}
.card-carousel4 {
  position: fixed; /* Pour le modal */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centrer le modal */
        background-color: $nav; /* Couleur de fond du modal */
        padding-left: 20px;
        padding-top:20px;
        padding-bottom:20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Assure que le modal est au-dessus des autres éléments */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        a{
          height: 20px;
          position: block;
          text-decoration: none;
          animation: aButton infinite 3s forwards;
          
        }
        &.hidden{
          display: none;
        }
        button{
          margin-top: 20px;
          border-radius:15px;
          border-color:#221248;
          width: 150px;
          background:linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
        }
}
.card-carousel5 {
  position: fixed; /* Pour le modal */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centrer le modal */
        background-color: $nav; /* Couleur de fond du modal */
        padding-left: 20px;
        padding-top:20px;
        padding-bottom:20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Assure que le modal est au-dessus des autres éléments */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        a{
          height: 20px;
          position: block;
          text-decoration: none;
          animation: aButton infinite 3s forwards;
          
        }
        &.hidden{
          display: none;
        }
        button{
          margin-top: 20px;
          border-radius:15px;
          border-color:#221248;
          width: 150px;
          background:linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
        }
}


.card {
  min-width: 300px; /* Largeur minimale des cartes */
  margin-right: 20px; /* Espace entre les cartes */
  padding: 20px;
  
  background-color: $nav;
  border: 1px solid $bgProjet;
  
  border-radius: 8px;

  h1{
    align-self: center;
  }
  video{
    align-self: center;
    
  }
  iframe{
    align-self: center;
  }
  button{
    border-radius: 15px;
    border-color: #221248;
    align-self: center;
    width: 150px;
    background: rgb(221,71,120);
background: linear-gradient(183deg, rgba(221,71,120,1) 0%, rgba(4,16,121,1) 100%);
}
}

.hidden {
  display: none; /* Masquer le carrousel par défaut */
}

.visible {
  display: flex; /* Affiche le carrousel */
}









footer{
  margin-top: 50px;
    background-color: $footer;
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        row-gap: 20px;
        @for $i from 1 through 4{
    
        .social{
            display: flex; // Pour aligner les enfants horizontalement
            align-items: center; // Centre verticalement
            justify-content: space-evenly; // Centre horizontalement
            background-color: rgb(70, 68, 68);
            opacity: 80%;
            grid-column: 1 / -1;
            width: 100%;
            height: 110px;
            
            svg {
                &:hover{
                    
                    width: 96px;
                    
                }
                
               
                transition: width 0.75s ease-in-out;
                width: 64px; // Assurez-vous que cette taille est adaptée
                height: auto; // Maintenir les proportions
                margin: 0 10px; // Espacement entre les SVG si nécessaire
            }
        }
        .social:nth-child(#{$i}){
            background-color: none;
            opacity: 80%;
            grid-column: 1/ -1;;
            width: 100%;
            height: 100px;
            
        }
        h2{
            grid-column:1/-1;
            text-align: center;
            margin: 0;
        }
        .pages:nth-child(#{$i}){
            grid-column: 1/-1;
            display: flex;
            justify-content: space-around;
            a {
                color: white;
                text-decoration: none;
                position: relative;
                padding: 5px;
                font-size: 1rem;
                transition: all 0.3s ease;
        
                &:hover {
                  color: $bgProjet;
                  font-size: 1.38rem; // Grossir le texte de 8% au survol
                  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                }
        
                &:before {
                  content: "";
                  position: absolute;
                  width: 0; // Barre invisible au départ
                  height: 2px; // Épaisseur de la barre de soulignement
                  background-color: $bgProjet;
                  bottom: 0;
                  left: 50%; // Point de départ au centre
                  transform: translateX(-50%);
                  transition: width 0.4s ease; // Animation fluide
                }
        
                &:hover:before {
                  width: 100%; // Barre s'étend complètement
                  left: 0; // Repositionne à gauche pour couvrir tout le texte
                  transform: translateX(0); // Supprimer le décalage
                }
              }
            }
        .copyright{
            grid-column: 1/-1;
            text-align: center;
            font-size: 11px;
            transform: translateY(12px);
            font-weight: bold;
            opacity: 50%;
        }
    }
}
}




  body{
    background-color: $bgProjet;
  }

  //TEST
  .moving-border-wrapper {
    overflow: hidden;
    border-radius: 10px;
    padding: 3px;
    border: none;
    position: relative;
    background: #353535;
    height: 650px;
    width: 100%;
  }
  


  .moving-border-content {
    position: absolute;
    background: radial-gradient(circle, rgba(28, 28, 40, 1) 25%, rgb(9, 9, 77) 100%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .animated-image {
    margin-bottom: auto;
    top: 0vh;
    width: 25vw;
    
    margin-right: 10vw;
    
    max-width: 25%;
    border-radius: 10px;
    object-fit: cover;
    animation: float 6s ease-in-out infinite, opacity-change 10s ease-in-out infinite, color-change 8s ease-in-out infinite, glitch 2s infinite;
    position: relative;
    @media screen and (max-width:1075px) {
      display:none;
    }
  }
  
  /* Ondulation continue sur l'image */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Changement d'opacité lent sur l'image */
  @keyframes opacity-change {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }
  
  /* Variation de couleur */
  @keyframes color-change {
    0% {
      filter: hue-rotate(0deg) saturate(100%) contrast(100%);
    }
    25% {
      filter: hue-rotate(45deg) saturate(150%) contrast(120%);
    }
    50% {
      filter: hue-rotate(90deg) saturate(200%) contrast(130%);
    }
    75% {
      filter: hue-rotate(180deg) saturate(250%) contrast(120%);
    }
    100% {
      filter: hue-rotate(360deg) saturate(100%) contrast(100%);
    }
  }
  
  /* Glitch effect */
  @keyframes glitch {
    0%, 100% {
      filter: none;
      transform: none;
    }
    10% {
      filter: contrast(200%) brightness(150%) saturate(200%);
      transform: translate(-2px, -1px);
    }
    20% {
      filter: blur(2px) hue-rotate(10deg);
      transform: translate(2px, 1px);
    }
    30% {
      filter: drop-shadow(2px 2px 5px red) contrast(150%);
      transform: translate(-1px, -1px);
    }
    40% {
      filter: brightness(120%);
      transform: translate(1px, 0);
    }
    50% {
      filter: blur(3px) hue-rotate(180deg);
      transform: translate(-2px, 2px);
    }
  }
  
  /* Effet de lumière pulsante sur le texte */
  
  
  /* Applique l'effet de typing sans changer la disposition d'origine */
  @keyframes typing {
    0% {
      width: 0; /* Commence avec une largeur de zéro */
    }
    100% {
      width: 100%; /* Fait apparaître tout le texte */
      border-right: 0px solid white;
    }
  }
  
  /* Animation du curseur clignotant */
  @keyframes blink-caret {
    0%, 100% {
      border-right: 2px solid none; /* Invisible au début et à la fin */
    }
    50% {
      border-right: 2px solid white;
    }
  }
  

  


  .pulsating-text {
    margin-bottom: 20%;
    width: 100%;
    
    span {
    right: 18%;
      display: block; /* Fait que chaque ligne est séparée verticalement */
      position: relative;
      overflow: hidden;
      text-align: right;
      white-space: nowrap; /* Optionnel, à ajuster selon vos préférences */
       /* Optionnel, à ajuster selon vos préférences */
       /* Optionnel, à ajuster selon vos préférences */
       /* Curseur */
      width: 0; /* Initialisé à zéro pour l'effet */
      
      /* Durées d'animation ajustées selon le texte */
      &:nth-child(1) {
        
        animation: typing 4s steps(50, end) forwards, blink-caret 1s step-end 5; /* Durée de blink-caret = 4s */
        animation-delay: 0s;
      }
      &:nth-child(2) {
        margin-top: 45px;
        animation: typing 4s steps(50, end) forwards, blink-caret 1s step-end 4; 
        animation-delay: 5s; /* 5s après le premier span */
        
      }
      &:nth-child(3) {
        
        animation: typing 5s steps(50, end) forwards, blink-caret 1s step-end 5; 
        animation-delay: 9s; /* 10s après le deuxième span */
      }
      &:nth-child(4) {
        
        animation: typing 4s steps(50, end) forwards, blink-caret 1s step-end 5; 
        animation-delay: 13s; /* 15s après le troisième span */
      }
      &:nth-child(5) {
        
        animation: typing 4s steps(50, end) forwards, blink-caret 1s step-end 5; 
        animation-delay: 17.2s; /* 20s après le quatrième span */
      }
      &:nth-child(6) {
        margin-top: 25px;
        animation: typing 4s steps(50, end) forwards, blink-caret 1s step-end 5; 
        animation-delay: 22s; /* 20s après le quatrième span */
      }
      &:nth-child(7) {
        
        animation: typing 4s steps(50, end) forwards, blink-caret 1s step-end 5; 
        animation-delay: 26s; /* 20s après le quatrième span */
      }
      /* Stoppe le clignotement du curseur après l'écriture du texte */
      &:last-child {
        animation: typing 4s steps(50, end) forwards, blink-caret 1s step-end infinite; /* Le curseur ne clignote pas après l'animation */
        animation-delay: 30s; /* Dernier span avec un délai pour le curseur */
      }
    }
  }
  
  







  








.no1{
  width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}


  .grid-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    grid-template-rows: auto; /* Ajuste les lignes automatiquement */
    grid-template-areas: 
        "no1 no1"
        "no2 no2"
        "no3 no4"
        "no5 no6";
    grid-gap: 20px;
    justify-items: center;
}

.carroussel:nth-child(1) { grid-area: no1; }
.carroussel:nth-child(2) { grid-area: no2; }
.carroussel:nth-child(3) { grid-area: no3; }
.carroussel:nth-child(4) { grid-area: no4; }
.carroussel:nth-child(5) { grid-area: no5; }
.carroussel:nth-child(6) { grid-area: no6; }








  
  /* Effet de lumière pulsante sur le texte */
  
  
  /* Animation de la bordure lumineuse en arrière-plan */
  .moving-border-mover {
    position: absolute;
    width: calc(100% * 1.2);
    height: calc(100% * 2.5);
    top: -80%;
    left: -10%;
    transform: translate(-50%, -50%);
    animation: move 3s linear infinite;
  }
  
  .bg-1 {
    background: conic-gradient(
      from 180deg at 50% 50%,
      #e92a67 0deg,
      #ff9710 112.5deg,
      #fff0 228.75deg,
      rgba(42, 138, 246, 0) 360deg
    );
  }
  
  @keyframes move {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(-180deg);
    }
    75% {
      transform: rotate(-270deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  
  .image-wrapper {
    flex: 1;
  
    
  }
  
  .text-wrapper {
    flex: 1;
    align-self: center;
    margin-right: 15px;
    
  }
  
  .animated-image {
    max-width: 100%;
    height: auto;
    max-height: 620px;
  }
  
  .pulsating-text {
    font-size: 2rem;
    text-align: right;
  }










  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-content h2 {
    color: #ff0000;
  }

  .modal-content p {
    margin-bottom: 20px;
  }

  .modal-content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal-content button:hover {
    background-color: #45a049;
  }
  .logofooter{
    
    font-family: 'Brush Script MT', cursive;
    font-size: 50px; /* Ajustez la taille à votre convenance */
    color: white; /* Personnalisez la couleur */
    a{
      text-decoration: none;
      color: white;
      &:hover{
        color: black;
      }
    }
  }

 

  #myvideo{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #myvideo1{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #myvideo2{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #myvideo3{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #myvideo4{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #myvideo5{
    margin-left: 50%;
    transform: translateX(-50%);
  }







  .animated-button {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #409643; /* Couleur de base */
    color: #fff;
    font-size: 1.2em;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05em;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.animated-button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #a0ff7a, #4CAF50, #a0ffb8, #8bc34a);
    background-size: 400%;
    transition: all 0.3s ease;
    opacity: 0.5;
    transform: rotate(45deg);
    z-index: 0;
    
}

.animated-button:hover::before {
    animation: gradient-rotate 4s linear infinite;
    opacity: 0.75;
    
}

.animated-button span {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
  
    color: #d4ff78;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.animated-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid #a0ff7a;
    opacity: 0;
    z-index: 2;
    animation: border-pulse 1.5s ease-in-out infinite;
}




@keyframes gradient-rotate {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}









@keyframes border-pulse {
  0%, 100% {
      opacity: 0;
      transform: scale(1);
  }
  50% {
      opacity: 1;
      transform: scale(1.2);
  }
}

.knowledge-code{
  
  img{
    background-color: rgba($color: #757272, $alpha: .25);
    
    width: 10%;
    height: auto;
    padding: 20px;
  }
  
}


@media screen and (max-width:700px){
  

  h1.pulsating-text{
  margin-left: 15vw ;
  max-width: 90vw;
  span{
    font-size: 28px;
    flex-wrap: wrap;
    
  }}
}
@media screen and (max-width:500px) {
  h1.pulsating-text{
    margin-left: 15.2vw ;
    max-width: 90vw;
    span{
      font-size: 22px;
      flex-wrap: wrap;
      
    }}
}